body {
    background: aliceblue;
    margin: 0;
    padding: 0;
}

.home {
    min-height: 70vh;
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: -10%;
    scroll-snap-align: start;
}

.home .text {
    position: relative;
    padding-left: 10px;
    font-size: 70px;
}

.home .text.first-text {
    color: black;
}

.home .text.second-text {
    color: rgb(238, 87, 76);
}

ul {
    list-style-type: none;
    position: fixed;
    text-align: center;
    margin-top: 10%;
    margin-left: -20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul li {
    transition: 0.3s;
    padding: 20px 20px;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.back {
    font-size: 20px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-left: 20%;
}

.back h3 {
    margin-top: -13px;
    margin-left: -6px;
}

ul .active,
.nav-item:hover,
.back:hover {
    transition: 0.3s;
    background-color: rgb(6, 191, 247);
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 10%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.content section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

h1,
h2 {
    margin-top: 10px;
    margin-left: -10%;
    text-align: center;
}

.profile {
    margin-left: 10%;
    display: grid;
    grid-template-areas: "text text" "img data";
    grid-template-columns: 43% 57%;
    width: 80%;
    height: 600px;
}

.profile p {
    grid-area: text;
    font-size: 17px;
    width: auto;
    height: 10px;
    font-family: 'Poppins';
}

.profile img {
    grid-area: img;
    border-radius: 0%;
    width: auto;
    height: 400px;
    margin-left: 10%;
}

.profile .info {
    grid-area: data;
    font-family: 'Poppins';
}

.info h1 {
    text-align: left;
    margin-left: 0.5px;
}

.info table {
    font-size: medium;
}

.info td {
    padding: 15px;
    text-align: left;
}

.info p {
    font-size: 40px;
    padding-left: 10%;
}

.skill {
    display: grid;
    grid-template-areas: "program other";
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 600px;
}

.skill .power {
    grid-area: program;
    margin-left: 15%;
    width: 100%;
    border-right: 1px solid black;
}

.power h2 {
    text-align: left;
    font-family: 'Poppins';
    font-size: large;
}

.power .box {
    background-color: gray;
}

.box .html {
    width: 70%;
    padding-top: 25px;
    height: 40px;
    background-color: #04AA6D;
}

.box .css {
    width: 50%;
    height: 40px;
    padding-top: 25px;
    background-color: #199ee0;
}

.box .js {
    width: 20%;
    height: 40px;
    padding-top: 25px;
    background-color: #f1b500;
}

.box .c {
    width: 50%;
    height: 40px;
    padding-top: 25px;
    background-color: #6fc2ee;
}

.box .python {
    width: 70%;
    height: 40px;
    padding-top: 25px;
    background-color: #e8c356;
}

.skill .special {
    grid-area: other;
    text-align: center;
}

.special img {
    width: 200px;
}

.contact {
    width: 100%;
    height: 600px;
}

.contact img {
    width: 100px;
    height: 100px;
}

.contact table {
    margin-left: 25%;
    padding: 40px;
    width: 600px;
    font-family: 'Poppins';
}

.contact table.social {
    margin-left: 10%;
    align-self: center;
    padding: 50px;
    width: 1000px;
}

.contact th {
    text-align: center;
    vertical-align: middle;
}

.contact .social img:hover {
    filter: brightness(80%);
    width: 102px;
    height: 102px;
}