.home{
    position: absolute;
    top: 30%;
    left: 43%;
    margin: -50px 0 0 -50px;
}
button{
    transition: 0.3s;
    width: 200px;
    height: 80px;
    font-size: 15px;
    background-color: rgb(235, 107, 38);
    border: none;
}

button:hover{
    font-size: 20px;
    transition: 0.3s;
    background-color: rgb(238, 147, 98);
    border: 1px solid black;
    cursor: pointer;
}

.firstPage{
    position: absolute;
    top: 50%;
    left: 23%;
}

.secondPage{
    position: absolute;
    top: 50%;
    left: 63%;
}